<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#home-collapse" aria-expanded="false">
          API proyects
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/clima" class="link-dark rounded"><i
                  class="fa-cloud fa-solid text-primary mt-1 me-2"></i>Clima App</a>
            </li>
            <li>
              <a routerLink="/store" class="link-dark rounded"><i
                  class="fas fa-store text-primary mt-1 me-2"></i>Store</a>
            </li>
            <li>
              <a routerLink="/dog" class="link-dark rounded"><i
                  class="fas fa-dog text-primary mt-1 me-2"></i>Dogs</a>
            </li>
            
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#orders-collapse" aria-expanded="false">
          Componentes
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a routerLink="/calculadora" class="link-dark rounded">
                <i class="fab fa-artstation text-primary mt-1 me-2"></i>Calculadora</a>
            </li>
            <li>
              <a routerLink="/adivinanza" class="link-dark rounded">
                <i class="fas fa-atom text-primary mt-1 me-2"></i>Adivinanza</a>
            </li>
            <li>
              <a routerLink="/users" class="link-dark rounded">
                <i class="fas fa-user text-primary mt-1 me-2"></i>Users</a>
            </li>
            
          </ul>
        </div>
      
    </ul>
  </div>
