<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
      <h1 class="display-4 mt-5">Bienvenido a la aplicación de David Escrivá</h1>
      <p class="lead mb-4 small">Aquí podrás ver alguno de los trabajos del curso</p>
      <!-- Cambio en la clase para reducir el tamaño de la letra -->
      <p class="mb-4">Además, podrás navegar por el menú lateral para ver ejemplos de APIS te terceros consumidas y de
        una app web de ejemplo de una tienda cuya bbdd se alberga en el servidor
      </p>
      <!-- Nueva información adicional -->
      <img src="../../../assets/logo-david.svg" alt="David Logo" width="100">
      
    </div>
  </div>
</div>